<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Manual</title>

    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/skeleton.css">
    <link rel="stylesheet" href="./css/freelancer.css">
    <link rel="stylesheet" href="./css/menu.css">
</head>
<!-- end of head -->

<body>
    <div class="container">
        <section id="header" class="layout-app-main">
            <img src="./images/Deepwater1.jpg" alt="">
            <div class="row">
                <div class="header">
                    <div class="neato-header">
                        <h2>BootCamp curriculum Overview</h2>
                        <h1>Exercises and Tests</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- end of section -->

        {{{body}}}
    </div>
</body>
<!-- end of body -->

</html>
