<div class="row">

  <div class="two columns"></div>
  <form class="" action="/greet" method="post">
    <div class="one-half column">
      <h3>Greet friend first version</h3>

      <p>Name: <input class="u-full-width" name="specifyName" id="specifyName" placeholder="Please enter your name"></p>
      Choose language?<br>
      <input type="radio" name="languages" value="Sotho" id="seSotho" required>seSotho
      <input type="radio" name="languages" value="Xhosa" id="seiXhosa" required>isiXhosa
      <input type="radio" name="languages" value="English" id="English" required>English<br>
      <br>

      <div class="row">
        <div class="messages">
          {{#greetedPerson}}
            <pre id="specificNameDisplay">
                          {{this}}
                        </pre>
          {{/greetedPerson}}
          {{#info}}
            <p><strong>FLASH!</strong> {{ info }}</p>
          {{/info}}
          {{#counter}}
            <pre id="totalNumOfGreetings">
                        {{this}}
                      </pre>
          {{/counter}}

          <input id="resetButton" class="button-primary" type="reset" value="reset" />
        </div>
        <div class="row">
          <button id="okButton" class="submit" type="submit" name="submit" value="submit">Submit</button>
          <button id="backButton" class="button-primary" type="button" name="button"><a href="/">Back</a></button>
        </div>
      </div>
    </div>
  </form>

</div>
