<div id="menu">
    <nav class="circular-menu">
        <div class="circle">
            <a href="/greet" class="fa fa-handshake-o fa-2x"> </a>
            <a href="CS_exercises/whichDay.html" class="fa fa-calendar-times-o fa-2x"></a>
            <a href="CS_exercises/shoe_catalogue.html" class="fa fa-shopping-bag fa-2x"></a>
            <a href="" class="fa fa-spinner fa-2x"></a>
            <a href="" class="fa fa-linkedin fa-2x"></a>
            <a href="test/tests.html" class="fa fa-balance-scale fa-2x"></a>
            <a href="" class="fa fa-rss fa-2x"></a>
            <a href="" class="fa fa-asterisk fa-2x"></a>
        </div>
        <a href="" class="menu-button"><img class="section2" src="./images/Xnamed.png" alt="Xnamed.png"></a>
    </nav>
</div>
<script type="text/javascript" src="./js/menu.js"></script>
